* {
  box-sizing: border-box;
}
html,
body {
  background: rgb(19, 19, 19);
}

.container legend {
  color: lightblue;
  font-size: 30;
  font-weight: 500;
}

.navbar {
  /* add items here for navbar customization */
}

.error-message {
  color :red;
}

.top-container {
  background: #ccc;
  padding:5px;
  border-bottom:2px solid #0f0f0f;
}
.bottom-container {
  background: #333;
  padding:5px;
  border-top:2px solid #0f0f0f;
  /* position:absolute; */
  bottom:0;
}

hr {
  width: 100%;
  height:4px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  border: 0 none;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 7px;
  /* margin: 5px 0 22px 0; */
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.container p {
  color: #f5f5f5;
  font-size: 25;
}

.nav,
.nav-section {
  justify-content: space-between;
  display: flex;
}

.nav-item,
.navbar-brand {
  display: flex;
  font-size: 20;
  color: rgb(39, 184, 233);
  padding: 0 0.5rem;
  align-items: center;
}

h1 {
  color: lightblue;
  font-weight: 700;
  font-size: 70;
}

h2 {
  color: rgb(39, 184, 233);
  font-size: 40;
  font-weight: 500;
}
