<!-- Place a grid of previews for each blog post
    Like an image and the title of the blog post on a 3xN grid 

    Once it is clicked it will redirect to a full page view of the actual project (another template)-->

<!-- If the user is logged in, then they have ability to add/edit blog posts (maybe add a button)-->
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="content-section">
        <h2>This page is currently under development</h2>
        <p>In the meantime watch a fun project</p>
        <iframe width="1080" height="608" src="https://www.youtube.com/embed/N_a7jBxSQI0" title="Spot A Bone Demo"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>

{% endblock %}