<!-- Place a grid of previews for each blog post
    Like an image and the title of the blog post on a 3xN grid 

    Once it is clicked it will redirect to a full page view of the actual project (another template)-->

<!-- If the user is logged in, then they have ability to add/edit blog posts (maybe add a button)-->
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="content-section">
        <h2>This page is currently under development</h2>
        <p>Please check back later.</p>
    </div>
</div>

{% endblock %}