{% extends "layout.html" %}

{% block content %}
<h1>
    Sina Haghighi
</h1>

<p class="content">
    A third year Computer Engineering student at Simon Fraser University.<br>
    Check out my <a class="skip_link" href="{{url_for('main.projects')}}">projects</a>!
</p>


<a class="skip_link" href="mailto:sina@gmail.com;">Email</a>
<a class="skip-link" rel="noopener" href="https://twitter.com/sinahaghighii" target="_blank">Twitter</a>
<a class="skip-link" rel="noopener" href="https://github.com/sinahag" target="_blank">GitHub</a>
<a class="skip-link" rel="noopener" href="https://linkedin.com/in/sina-" target="_blank">LinkedIn</a>
{% endblock %}

