<html>

<head>
    <title>Sina Haghighi - Amazon SDE Intern | Computer Engineering Student </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/static.css')}}" />
    <link rel="icon" href="static/favicon.ico" />
</head>


<body>
    <div class="container">
        <h1>
            Sina Haghighi
        </h1>

        <h2>
            Engineering Student and Tech Enthusiast
        </h2>

        <p class="content">
            Fourth year Computer Engineering student passionate about software and data science.
            Interested in exploring technologies and methodologies to solve real-world challenges.<br>
            <!--             Check out my <a class="link" href="{{url_for('main.projects')}}">projects</a>! -->
            Check out my <a class="link" href="{{url_for('main.projects')}}">projects</a>!
        </p>

        <nav class="content__nav nav">
            <div class="nav-section">
                <div class="nav-item">
                    <a class="skip-link" href="mailto:sina.liana.2001@gmail.com;">Email</a>
                </div>
                <div class="nav-item">
                    <a class="skip-link" rel="noopener" href="https://twitter.com/sinahaghighii"
                        target="_blank">Twitter</a>
                </div>
                <div class="nav-item">
                    <a class="skip-link" rel="noopener" href="https://github.com/sinahag" target="_blank">GitHub</a>
                </div>
                <div class="nav-item">
                    <a class="skip-link" href="https://linkedin.com/in/sina-" target="_blank"
                        rel="noopener">LinkedIn</a>
                </div>
                <div class="nav-item">
                    <a class="skip-link" href="{{url_for('static', filename = 'files/Resume.pdf')}}" target="_blank"
                        rel="noopener">Resume</a>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>