{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="content-section">
        {% if projects %}
        <h2> Projects</h2>
        <div class="grid-container">
            {% for i in range(numposts) %}
            <div class="grid-item">
                <div class="card">
                    <a class="link" rel="noopener" href="/project/{{projects[i].id}}"><img
                            class="card-img" src="data:image/png;base64, {{images[i]}}" alt="projectImage"/>
                    </a>
                    <div class="card-description">
                        <a class="link" rel="noopener" href="/project/{{projects[i].id}}">
                            {{projects[i].title}}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h2> Projects are in the works!</h2>
        <p> Keep an eye out</p>
        {% endif %}
    </div>
</div>

{% endblock %}